.Canvas {
    box-shadow: 0px 0px 10px black;
    position: relative;
}

.SelectionObject {
    background: #f5a5f9;    
    outline: blueviolet;
    position: absolute;
    display: none;
    z-index: 5;
}